* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.App {
	margin: 1.5rem;
}

.form {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 1rem auto;
}

.form label {
	font-size: 1.25rem;
}

.form input {
	width: 250px;
	margin: 0.25rem;
	font-size: 1rem;
}
