* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	box-sizing: border-box;
	font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

html {
	height: 100%;
}

body {
	height: 100%;
	margin: 0;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background: rgb(71, 181, 255);
	background: linear-gradient(
		145deg,
		rgba(71, 181, 255, 1) 18%,
		rgba(37, 109, 133, 1) 80%
	);
}
