.content-table {
	border-collapse: collapse;
	margin: 2rem auto;
	font-size: 1em;
	min-width: 780px;
	box-shadow: rgba(0, 0, 0, 0.3) 0 5px 15px;
}

.content-table thead tr {
	background-color: #089879;
	color: #fff;
	font-weight: 700;
	text-align: center;
}

.content-table td,
.content-table th {
	padding: 0.25rem 1rem;
}

.td-center {
	text-align: center;
}

.content-table tbody tr {
	border-bottom: 1px solid #ddd;
}

.content-table tbody tr:nth-of-type(even) {
	background-color: #f3f3f3;
}

.content-table tbody tr:last-of-type {
	border-bottom: 2px solid #009879;
}

.empty {
	height: 5rem;
}
