@keyframes move_wave {
	0% {
		transform: translateX(0) translateZ(0) scaleY(1);
	}
	50% {
		transform: translateX(-25%) translateZ(0) scaleY(0.55);
	}
	to {
		transform: translateX(-50%) translateZ(0) scaleY(1);
	}
}

.waveWrapper,
.waveWrapperInner {
	position: absolute;
	overflow: hidden;
}

.waveWrapper {
	z-index: -1;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	margin: auto;
}

.waveWrapperInner {
	width: 100%;
	height: 100%;
	bottom: -1px;
}

.bgTop {
	z-index: 15;
	opacity: 0.5;
}

.bgMiddle {
	z-index: 10;
	opacity: 0.75;
}

.bgBottom {
	z-index: 5;
}

.wave {
	position: absolute;
	left: 0;
	width: 200%;
	height: 100%;
	background-repeat: repeat no-repeat;
	background-position: 0 bottom;
	background-attachment: fixed;
	transform-origin: center bottom;
}

.waveTop {
	background-image: url(../../assets/waves/top-wave.png);
	background-size: 50% 50px;
}

.waveAnimation .waveTop {
	animation: move-wave 3s;
	-webkit-animation: move-wave 3s;
	-webkit-animation-delay: 1s;
	animation-delay: 1s;
}

.waveMiddle {
	background-image: url(../../assets/waves/mid-wave.png);
	background-size: 50% 70px;
}

.waveAnimation .waveMiddle {
	animation: move_wave 10s linear infinite;
}

.waveBottom {
	background-image: url(../../assets/waves/bottom-wave.png);
	background-size: 50% 80px;
}

.waveAnimation .waveBottom {
	animation: move_wave 15s linear infinite;
}
