.App-container {
	background-color: whitesmoke;
	padding: 2rem 4rem;
	margin: 0 auto;
	border-radius: 20px;
	min-width: 920px;
	max-width: 920px;
}

.header {
	font-size: 2rem;
	padding: 2rem;
	font-weight: 600;
	color: white;
	text-align: center;
}

.search-insert {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.search-insert > * {
	margin: 0 1rem;
}

/* .insert-btn,
.searchbar {
	margin: 0 1rem;
} */

/* .form {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
} */

.form label {
	font-size: 1.25rem;
}

.form input {
	width: 250px;
	margin: 0.25rem;
	font-size: 1rem;
}
