@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.b-bottom > tr {
		@apply border border-solid border-slate-100;
	}

	.b-color-even > tr:nth-of-type(even) {
		@apply bg-[#f3f3f3];
	}

	.b-color-last > tr:last-of-type {
		@apply border-2 border-solid border-b-green-700;
	}
}

*,
::after,
::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	box-sizing: border-box;
	font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
}

body,
html {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

body {
	background-repeat: no-repeat;
	background-attachment: fixed;
	background: linear-gradient(145deg, #0093e9 18%, #80d0c7 80%);
}
