@keyframes animateBgModal {
	0% {
		background-color: transparent;
	}
	to {
		background-color: rgba(0, 0, 0, 0.5);
	}
}

@keyframes animateConModal {
	0% {
		scale: 0.8;
		opacity: 0;
	}
	to {
		scale: 1;
		opacity: 100%;
	}
}

.modalBackground {
	animation: animateBgModal 200ms ease-out;
}

.modalContainer {
	animation: animateConModal 100ms ease-in;
}
